<%- include('../partials/header.ejs') %>

<div class="container mt-4">
  <h1>Community Backlogs</h1>
  <p>See what other gamers are planning to play.</p>
  <hr>



  <% if (users.length > 0) { %>
    <% users.forEach(user => { %>
      <% if (user.games.length > 0 && (!locals.user || locals.user.id != user.id)) { %>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= user.username %></h5>
            <p class="card-text"><%= user.games.length %> game(s) in backlog.</p>
            <a href="/users/<%= user.id %>/games" class="btn btn-outline-primary">View Backlog</a>
          </div>
        </div>
      <% } %>
    <% }); %>
  <% } else { %>
    <p>No other users in the community yet.</p>
  <% } %>
  <hr>


    <% if (!user) { %>
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Join the Community!</h4>
      <p>Want to create and share your own game backlog? It's easy! Sign up to start tracking the games you want to finish.</p>
      <a href="/auth/sign-up" class="btn btn-primary">Sign Up Now</a>
    </div>
  <% } %>

</div>

<%- include('../partials/footer.ejs') %>