<%- include('../partials/header.ejs', { title: 'Your Games' }) %>

    <h1>Your Backlog</h1>
    <a href="/users/<%=user.id%>/games/new">Add a Game</a>

    <ul>
      <% games.forEach(game => { %>
      <li>
        <a href="/users/<%=user.id%>/games/<%=game.id%>">View Details</a> |
        
        <strong>Title:</strong> <%= game.title %> |
        <strong>Platform:</strong> <%= game.platform %> |
        <strong>Date Added:</strong> <%= game.dateAdded ? game.dateAdded.toDateString() : 'N/A' %> |
        <strong>Status:</strong> <%= game.status %> |
        <% if (game.rating) { %>
          <strong>Rating:</strong> <%= '★'.repeat(game.rating) %>
        <% } %>
      </li>
      <% }) %>
    </ul>

<%- include('../partials/footer.ejs') %>
