<%- include('../partials/header.ejs', { title: 'Your Games' }) %>

    <h1>Your Games</h1>
    <a href="/users/<%=user.id%>/games/new">Add a Game</a>

    <ul>
      <% games.forEach(game => { %>
      <li>
        <a href="/users/<%=user.id%>/games/<%=game.id%>">View Details</a> |
        
        <strong>Title:</strong> <%= game.title %> |
        <strong>Platform:</strong> <%= game.platform %> |
        <strong>Date:</strong> <%= game.date.toDateString() %> |
        <strong>Status:</strong> <%= game.status %>
      </li>
      <% }) %>
    </ul>

<%- include('../partials/footer.ejs') %>
